name: build+test
on:
  schedule:
  - cron: "0 8 * * 2,4,6"
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
jobs:
  build-images:
    strategy:
      matrix:
        version: ['3.8', '3.9', '3.10', '3.11', '3.12']
    name: Build Python Docker images
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: build w4m ${{ matrix.version }} image
        run:
          docker image build --build-arg PYTHON_VERSION=${{ matrix.version }} -t w4m:${{ matrix.version }} .
      - name: save w4m ${{ matrix.version }} image
        if: ${{ matrix.version == '3.9' }}
        run: |
          mkdir -p images
          docker save --output images/w4m-${{ matrix.version }}.tar w4m:${{ matrix.version }}
      - name: upload w4m ${{ matrix.version }} image artifact
        if: ${{ matrix.version == '3.9' }}
        uses: actions/upload-artifact@v3
        with:
          name: image
          path: images/w4m-${{ matrix.version }}.tar
